html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    
}

.custom-dialog {
    max-width: 400px;
}




footer {
    text-align: center;
}


/* Jaws Page */
h1 {
    font-size: 2rem;
    font-weight: bold;
}

.table thead {
    background-color: #343a40;
    color: #fff;
}

#createButton {
    height: fit-content;
}

.table tbody tr td {
    vertical-align: middle;
}

.btn-sm {
    font-size: 0.875rem;
}
.jaws-name{
    width: 70%;
}
.jaws-action{
    width: 25%;
}


/* Setup */

.setup-card {
    transition: box-shadow 0.3s ease-in-out;
}

.setup-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.card-body .setup-details {
    flex: 1;
}


/* Work setup */
.card {
    border: none;
    background-color: #f8f9fa; /* Light gray background */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 1); /* Darker and more noticeable shadow */
        transform: translateY(-3px);
    }

.card-body {
    padding: 15px;
    background-color: #E2EAF4; /* White background for card body */
    border-radius: 5px;
}

.card a {
    color: #343a40; /* Darker text color */
}

/* search box */

.page-content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top of the container */
    min-height: 100%; /* Ensure page content stretches to at least full viewport height */
    padding: 20px; /* Adjust padding as needed */
}

.centered-form {
    width: 100%;
    max-width: 600px; /* Limit the maximum width of the form */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    width: 100%;
    max-width: 400px; /* Adjust maximum width of the search container */
}

.searchbar {
    margin-top: 20px; /* Space between search bar and heading */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
}

.input-group {
    width: 100%;
}

.input-group-append {
    display: flex;
    align-items: center;
}

#suggestionBox {
    list-style-type: none;
    margin-top: 10px; /* Space between search bar and suggestion box */
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 5px 5px; /* Rounded bottom corners */
    max-height: 200px; /* Limit height to prevent overflow */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

    #suggestionBox li {
        padding: 10px;
    }

        #suggestionBox li a {
            text-decoration: none;
            color: #343a40; /* Dark text color */
        }

        #suggestionBox li:hover {
            background-color: #f0f0f0; /* Hover background color */
        }