.container {
    
}

.custom-dialog {
    max-width: 400px;
}


.centered-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh; /* This makes the container take up the full height of the screen */
}

.searchbar{
    width: 50%;
}

footer {
    text-align: center;
}


/* Jaws Page */
h1 {
    font-size: 2rem;
    font-weight: bold;
}

.table thead {
    background-color: #343a40;
    color: #fff;
}

# createButton {
    height: fit-content;
}

.table tbody tr td {
    vertical-align: middle;
}

.btn-sm {
    font-size: 0.875rem;
}
.jaws-name{
    width: 70%;
}
.jaws-action{
    width: 25%;
}


/* Setup */

.setup-card {
    transition: box-shadow 0.3s ease-in-out;
}

.setup-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.setup-image img {
    border-radius: 5px;
}


.card-body .setup-details {
    flex: 1;
}


/* Work setup */
.card {
    border: none;
    background-color: #f8f9fa; /* Light gray background */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 1); /* Darker and more noticeable shadow */
        transform: translateY(-3px);
    }

.card-body {
    padding: 15px;
    background-color: #E2EAF4; /* White background for card body */
    border-radius: 5px;
}

.card a {
    color: #343a40; /* Darker text color */
}