
@{
    ViewBag.Title = "Home Page";
}
<div class="page-content">
    <form asp-action="Index" asp-controller="WorkSetup" method="get" class="centered-form">
        <img src="~/images//WebImages/setup-5.svg" style="width:125px" alt="mech"/>
        <h1 class="block">Find machine setup</h1>
        <div class="search-container">
            <div class="searchbar">
                <div class="input-group">
                    <input type="search" name="searchKey" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light" id="searchBox" autocomplete="off">
                    <div class="input-group-append">
                        <button id="button-addon1" type="button" class="btn btn-link text-primary"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
            <ul id="suggestionBox" class="list-group">
                <!-- Suggestions will be dynamically added here -->
            </ul>
        </div>
    </form>
</div>

@section Script{
    <script>
        window.addEventListener("load", function () {
            const searchBox = document.getElementById('searchBox');
            const suggestionBox = document.getElementById('suggestionBox');
            searchBox.addEventListener("input", async () => {
                const query = searchBox.value.trim();
                if (query.length > 0) {
                    try {
                        const response = await fetch(`/WorkSetup?searchKey=${encodeURIComponent(query)}&json=true`);
                        const contentType = response.headers.get("content-type");
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        const data = await response.json();
                        suggestionBox.innerHTML = "";
                        if (data.setups && data.setups.length > 0) {
                            data.setups.forEach(item => {
                                suggestionBox.innerHTML += `<li class="my-1 px-2"><a href="/WorkSetup/${item.workSetupId}" class="text-decoration-none text-body">
                                            ${item.workSetupName}
                                        </a></li>`;
                            });
                        } else {
                            suggestionBox.innerHTML = '<div class="list-group-item">No results found</div>';
                        }
                    } catch (error) {
                        console.error("Error fetching search results:", error);
                        suggestionBox.innerHTML = '<div class="list-group-item text-danger">Error fetching search results</div>';
                    }

                } else {
                    suggestionBox.innerHTML = ""; // Clear suggestion box if query is empty
                }
            });
        });
    </script>
}


